<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js Fundamentals</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <main id="shopping-list">
      <div class="header">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <button
          class="btn btn-primary"
          type="button"
          v-if="state === 'default'"
          @click="changeState('edit')"
          :disabled="items.length >= 5"
        >
          Add Item
        </button>
        <button
          class="btn btn-cancel"
          type="button"
          v-if="state === 'edit'"
          @click="changeState('default')"
        >
          Cancel
        </button>
      </div>
      <div class="add-item-form" v-if="state === 'edit'">
        <input
          type="text"
          placeholder="Add an item"
          v-model="newItem"
          @keyup.enter="saveItem"
          :disabled="items.length >= 5"
        />
        <button
          type="button"
          class="btn btn-primary"
          v-on:click="saveItem"
          v-bind:disabled="newItem.length === 0 || items.length >= 5"
        >
          Save Item
        </button>
      </div>
      <p v-if="items.length >= 5 && state === 'edit'">
        You only can have 5 items
      </p>
      <ul>
        <li v-for="item of items">{{ item }}</li>
      </ul>
      <p v-if="items.length === 0">Nice Job! You've bought all your items.</p>
    </main>

    <script src="https://unpkg.com/vue@2"></script>
    <script>
      var shoppingList = new Vue({
        el: "#shopping-list",
        data: {
          state: "default",
          header: "shopping list app",
          newItem: "",
          items: ["10 party hats", "2 board games", "20 cups"],
        },
        methods: {
          saveItem() {
            this.items.push(this.newItem);
            this.newItem = "";
          },
          changeState(newState) {
            this.state = newState;
          },
        },
      });
    </script>
  </body>
</html>
